@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    overflow: hidden;
    
}

header{
    text-align: center;
    font-family: 'Moon Dance', cursive;
    background-color: #a2aeaf;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    border-bottom: 2px solid black;     
}

#busca{
    align-self: flex-end;
    margin-bottom: 10px;
}

#lupa{
    min-width: 25px;
    height: 25px;
    padding: 3px;
    position: relative;
    top: 7px;
    left: -5px;
    cursor: pointer;
}

#logo{
    margin: 0;
    padding: 0;
    font-size: 28px;
    max-width: 300px;
    height: 40px;
    font-weight: bold;
    flex: 1;
    position: relative;
    left: -95px;
    cursor: pointer;
}

#perfilCabecalho{
    border: 1px solid rgb(41, 40, 40);
    min-width: 38px;
    height: 38px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
}

#miniPerfil{
    min-width: 30px;
    height: 30px;
    padding: 3px;
}

.container {
    display: grid;
    grid-template-columns: 265px auto;
    background-color: #ecf0f1;
     
}

.sidebar{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7.5em;
    background-color: #a2aeaf;
    border-right: 2px solid black; 
}

.sidebar > label{
    font-size: 30px;
    position: relative;
    right: -85px;
    margin-top: 20px;

}


.content{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    overflow-y:auto;
    height: calc(100vh - 49px);
    
}

.post {
    width: 400px;
    min-height: 450px;
    margin: 10px;
    flex-basis: 1 ;
    border: 1px solid rgb(71, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(128, 165, 162);
    border-radius: 5%;
    
}

#postCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-bottom: 2px solid black;
}

.perfil > img{
    width: 30px;
    height: 30px;
    border: 1px solid yellow;
    border-radius: 100%;
}

.perfil > label{
    font-weight: bold;
    position: relative;
    top: -8px;
    margin-left: 5px;

}

.pagamento > img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.pagamento > input{
    width: 110px;
    border-radius: 4%;
    background-color: gray;
    font-weight: bold;
    position: relative;
    top: -6px;
}

#imgPost{
    width: 400px;
    height: 280px;
    border-bottom: 2px solid black;
}

#comentar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid gray;
}

.sctnComentario{
    position: relative;
    left: 20px;
}

.hidden {
    visibility: hidden;
}

#addComentario{
    width: 230px;
}

#comentar > #imgComentario{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#comentar > #imgCurtida{
    cursor: pointer;
}

#comentar > .curtido{
    width: 31px;
    height: 31px;  
    margin-left: 2px;  
}

#comentar > .naoCurtido{
    width: 19px;
    height: 19px;
    margin: 9px; 
}

#btnComentar{
    cursor: pointer;
}

#comentarios{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px;
    height: 84px;
    overflow-y: auto;
    font-size: 10px;
}

#comentarios > article{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 1px;
    border-top: 1px solid grey;
}

.perfilComentarios{
    width: 28px;
    height: 28px;
    border: 1px solid yellow;
    border-radius: 100%;
}

html, body, .container {
    min-height: 100vh;
    
}

  